<div class="header">
    <div class="container">
        <div class="row" >
            <div class="col-md-6">
                <h1><a class="title">My Blog</a> </h1>
            </div>
            <div class="col-md-6">
                   <a (click)="navigateTo(['login'])" class="register btn btn-primary">Login</a>
                   <a (click)="navigateTo(['register'])" class="register btn btn-primary">Register</a>
                   <a (click)="navigateTo(['resume'])" class="ressume btn btn-primary">Ressume</a> 
            </div>
        </div>
    </div>
</div>