<!-- <!DOCTYPE html> -->
	
		<div id="header" class="white">
				<div>
					<div class="name center">Sumeet Pathade</div>
					<div class="profession center caps">Software Developer </div>
				</div>
				<div class="center button_div"><a href="#" class="btn btn-outline-light btn-lg button">Hire Me</a></div>
			
		</div>

		<!--SKILLS-->
<div style="background-image:url(assets/img/b2.jpg);">
	<div>	
			<section class="sections">
			<div class="center section_head white " style="color: goldenrod;">Skills</div>
			<div class="center skill_div_outer flexi">
				<div class="skill_div"><img src="assets/img/html.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/css.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/python.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/bootstrap.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/js.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/dj.png" class="skill_icon_img"></div>
				<div class="skill_div"><img src="assets/img/react.png" class="skill_icon_img"></div>
			</div>
		</section>
		
	</div>
<!--ABOUT</div>

<div style="background-image:url(assets/img/b3.jpg);">-->
		<!--Projects-->
		<div >
		<section class="sections">
			<div class="center section_head white " style="color:goldenrod;">Projects</div>
			<div class="center skill_div_outer flexi">
				<div class="skill_div project_div card blue_border">
					<div><img src="assets/img/code.png" class="project_img"></div>
					<div class="card-body">
						<h2>Project 1</h2>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
				<div class="skill_div project_div card blue_border">
					<div><img src="assets/img/code.png" class="project_img"></div>
					<div class="card-body">
						<h2>Project 1</h2>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
				<div class="skill_div project_div card blue_border">
					<div><img src="assets/img/code.png" class="project_img"></div>
					<div class="card-body">
						<h2>Project 1</h2>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
				<div class="skill_div project_div card blue_border">
					<div><img src="assets/img/code.png" class="project_img"></div>
					<div class="card-body">
						<h2>Project 1</h2>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
				<div class="skill_div project_div card blue_border">
					<div><img src="assets/img/code.png" class="project_img"></div>
					<div class="card-body">
						<h2>Project 1</h2>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
			</div>
		</section>

	</div>
		<!--ABOUT-->
		<section></section>
		<!--FOOTER-->
		<footer id="footer" class="center" style="color:brown;">
			<div class="icon_div">
				<a href="#"><img src="assets/img/fb.png" class="icon_img" alt="facebook"></a>
				<a href="#"><img src="assets/img/linkedin.png" class="icon_img" alt="linkedin"></a>
				<a href="#"><img src="assets/img/twitter.png" class="icon_img" alt="twitter"></a>
				<a href="#"><img src="assets/img/medium.png" class="icon_img" alt="medium"></a>
				<a href="#"><img src="assets/img/instagram.png" class="icon_img" alt="instagram"></a>
				<a href="#"><img src="assets/img/youtube.png" class="icon_img" alt="youtube"></a>
				<a href="#"><img src="assets/img/github.png" class="icon_img" alt="github"></a>
			</div>
			<div>&copy;Sumeet Pathade</div>
		</footer>
	


